body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 17, 17);
    text-align: center;
    text-transform: uppercase;  
    letter-spacing: .5em;
    background: linear-gradient(to right, red, yellow);
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5em;
    padding-left: 5em;
}

.right-box {
    align-self: center;
    
}
.flex-box-100{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    
    
}
.white-box {
    background-color: rgb(255, 255, 255);
}
.white-box-shadow {
    background-color: rgba(255, 255, 255, 0.466);
    width: 100%;
}



input[type="color"i] {
    float: right;
    -webkit-appearance: none;
    width: 3em;
    height: 3em;
    background-color: buttonface;
    cursor: default;
    border-width: 0px;
    border-style: none;
    border-color: aliceblue;
    border-image: none;
    padding: 0px 0px;
}

/* mediaqueries */
@media screen and (max-width: 450px) {
    h2{
        font-size: 1em;
    }
    h3{
        font-size: 0.8em;
    }
    .flex-box{
        padding: 0.3em;
    }
    .tittle{
        text-align: left;

    }

}